.time {
    text-align: center;
    padding: 32px;
    background-color: #d9f7e9;
    position: relative;
}

.time h3{
    font-size: 32px;
    border-bottom: 4px solid #57c278;
    display: inline-block;
    padding-bottom: 8px;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 32px;

}

.time .input-cor{
    position: absolute;
    top: 20px;
    right: 50px;
}